body {
    color: #fff;
    /* margin: 0;
    height:100vh;
    width:100%;
    max-width:100vh; */
}

/* Targets the choice boxes as well as the question and score */
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    min-width: 50rem;
    /* check the rem size if it dosent fit on screen  */
}

/* targets the action of the bozes when hover */
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

/* might have to take out if the boxes are to big to fit on screen!!!! 🔴 */
.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

/* might have to take out if the boxes are to big to fit on screen!!!! 🔴 */
.choice-text {
    padding: 2rem;
    width: 100%;
}

/* when correct, button turns green. js */
.correct {
    background: linear-gradient(32deg, green, 0%, rgb(41, 232, 111) 100%);
}

/* turns red when incorrect. js*/
.incorrect {
    background: linear-gradient(32deg, red, 0%, rgb(224, 11, 11, 1) 100%);
}

/* heads up display here */
#hud {
    display: flex;
    justify-content: space-between;
}

.hub-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}


@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
        /* check the rem size if it dosnt fit on screen 👆 */
    }
}